<h1><%= @architect.name %></h1>

<%= image_tag @architect.image, :class => 'feature' if @architect.image.present? %>
<ul>
    <li>Name: <%= @architect.name %></li>
    <li>Nationality: <%= @architect.nationality %></li>
    <li>Date of birth: <%= @architect.dob.strftime '%A, %B %e, %Y' if @architect.dob.present? %></li>
</ul>

<% @architect.buildings.each do |building| %>
    <%= link_to image_tag(building.image, :class => 'thumb'), building %>
<% end %>

<div class="controls">
    <%= link_to 'Edit architect', edit_architect_path(@architect) %>
    <%= link_to 'Delete architect', @architect, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>